// custom SCSS (or CSS) goes here
.site-header {
    background-color: #fff;
    height: 80px;
    min-height: 80px;
}

@media (min-width: 50rem) {
    .site-header {
        height: 80px;
        max-height: 80px;
        border-bottom: 1px solid #eeebee;
    }
}

.site-title {
    &:hover {
        background-image: none;
        background-color: #fff;
    }
}